[
  {ansibot, [
    {poll_interval, 5000},
    {telegram_token, "394361938:AAGs57iBYDxUuypK8FR0Fmoy2xOusfXQ0qk"},
    {telegram_bot_api, "https://api.telegram.org/bot"},
    {github_api, "https://git.corp.voyager.ph/api/v3/"},
    {github_token, "Ev8GyPn3PFsQHPkiZyQC"},
    {github_repo_ref, "master"},
    {jenkins_api, "https://jenkins.corp.voyager.ph/job/"},
    {jira_api, "https://jira.corp.voyager.ph/rest/api/2/"},
    {jira_host, "jira.corp.voyager.ph"},
    {jira_auth_key, "Basic cnVuaWM6cDZmZXNQdXE="},
    {jira_project_key, "SEDSR"},
    {jira_project_id, "10403"},
    {jira_issue_name, "Standard Change"},
    {jira_qe_default, "kmpatio"},
    {jira_se_default, "jecruz"}
  ]}
].